version: '3.9'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: raeddocker123/chat_socket_app:1.0
    container_name: myapp-node-server
    command: nodemon start
    volumes:
      - ./server:/usr/src/app
    ports:
      - "5000:5000"
    env_file: ./server/.env
    environment:
      - NODE_ENV=development
    networks:
      - socket-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: myapp-client
    container_name: myapp-react-client
    #volumes:
      #- ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - server
    ports:
      - "80:80"
      - "443:443"
    networks:
      - socket-network
  
networks:
    socket-network:
        driver: bridge

volumes:
    data-volume: