name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  #run-local:
    #runs-on: ubuntu-latest

    #steps:
    #- uses: actions/checkout@v3
    #- name: run docker compose locally
      #run: docker-compose up --force-recreate -d
      
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker build
      run: docker-compose build

  push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker push to dockerhub repositry
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $DOCKER_USER -p $$DOCKER_TOKEN --password-stdin
        docker push raeddocker123/chat_socket_app:1.0