name: Docker Image CI

on:
  push:
    branches: [ "prod" ]
  #pull_request:
    #branches: [ "main" ]

jobs:

  #run-local:
    #runs-on: ubuntu-latest

    #steps:
    #- uses: actions/checkout@v3
    #- name: run docker compose locally
      #run: docker-compose up --force-recreate -d
      
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker build
      run: echo "docker-compose build"

  push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker push to dockerhub repositry
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      
      run: |
        docker-compose build
        echo "$DOCKER_TOKEN" | docker login --username $DOCKER_USER --password-stdin
        docker push raeddocker123/chat_socket_app:client
        docker push raeddocker123/chat_socket_app:server
